.nav-pills {
  font-size: 1.7em;
  background-color: black;
  margin-bottom: 10%;
}

body {
  background-color: white;
  font-family: 'Lobster', cursive;
  color: white;
}

.container-fluid {
  padding: 0px;
}

.pageOne {
  background: url("https://images.unsplash.com/photo-1502657877623-f66bf489d236?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  height: 800px;
}

a {
  color: #337ab7;
}
.btn-default {
  background-color: black;
  font-size: 1.7em;
  margin-top: 1%;
}

h1 {
  font-size: 5.0em;
}

.block {
  background-color: black;
  opacity: 0.5;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
